---
const { slug } = Astro.params;
const hostname = Astro.locals.hostname;
console.log(slug);
import Layout from '@/layouts/Layout.astro';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>blockspage MVP</title>
    
  </head>
  <body>
    <Layout>
      <main>
        <h1 class="text-2xl font-bold">This site is being served for:</h1>
        <p class="text-4xl font-bold text-orange-500">{hostname}</p>
      </main>
    </Layout>
  </body>
</html>