---
import blockspageLogo from '../assets/logo.svg';
import { Image } from 'astro:assets';
import DarkmodeSwitch from './DarkmodeSwitch.astro';
---
<aside class="w-60 h-screen bg-stone-50 dark:bg-stone-900">
    <div class="flex justify-between align-center p-4 w-full">
        <a href="/" class="w-1/6 flex items-center justify-center">
        <Image src={blockspageLogo} alt="Blockspage Logo" class="w-full invert-0 dark:invert" />
        </a>
        <DarkmodeSwitch />
    </div>
    <nav class="flex flex-col gap-2 p-4">
        <a href="/app/dashboard">Dashboard</a>
        <a href="/app/site">Site Settings</a>
        <a href="/app/pages">Pages</a>
        <a href="/app/blocks">Blocks</a>
        <a href="/app/logout">Logout</a>
    </nav>
</aside>