---
interface Props {
    class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class:list={["absolute inset-0 -z-10", className]}>
    <div class="absolute inset-0 bg-stone-50 dark:bg-stone-900">
        <div class="absolute inset-0" style="background-image: radial-gradient(circle at 1px 1px, rgb(231 229 228) 1px, transparent 0); background-size: 40px 40px;">
        </div>
    </div>
</div> 