---
import "@/styles/global.css";
import "@/styles/starwind.css";

import DashboardSidebar from '@/components/DashboardSidebar.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Blockspage Dashboard</title>
	</head>
	<body>
        <div class="flex w-full">  
        <DashboardSidebar />
		<slot />
        </div>  
	</body>
</html>

